* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  width: 100vw;
  overflow-x: hidden;  
}

body::-webkit-scrollbar {
  width: 1.2rem;
}

body::-webkit-scrollbar-track {
  background: rgb(15, 12, 12);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(191, 33, 191, 0.706);   /* color of the scroll thumb */
  border-radius: 20px;
}


 nav {
  position: fixed;
  width: 100%;
  display: flex;
  height: 6.8rem;
  justify-content: space-around;
  align-items: center;
  background: rgba(15, 12, 12, 0.784);
}

 nav a {
  text-decoration: none;
}

nav a span {
color: rgb(191, 33, 191);
}

 nav .logo a {
  color: #ffffff;
  font-size: 3.1rem;
  font-family: 'Montserrat', sans-serif;
}

 nav .menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 45rem;
  font-size: 2rem;

}

 nav .menu a{
color: rgba(218, 206, 206, 0.678);

font-family: 'Dm Sans', sans-serif;
font-weight: 800;
transition: all 0.6s;
}

 nav .menu a:hover{
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

 nav .button {
  width: 10.5rem;
  height: 3.7rem;
  border: 2px solid #ffffff;
  border-radius: 2rem;
  font-size: 2rem;
  padding-top: .2rem;

  text-align: center;
  transition: all 0.5s;
}

 nav .button:hover {
cursor: pointer;
transform: scale(0.9);
background: white;
color: black;
}

 nav .button{
  color: #ffffff;
  font-family: 'Dm Sans', sans-serif;
  font-weight: 800;
}

 .bg_video{ 
  position: relative;
  overflow-x: scroll;

	z-index: -1000;
  width: 100vw;
  height: 100vh;
	background-size: cover; 
} 

#home {
background: hsla(0, 0%, 0%, 0.373);
height: 100vh;
width: 100%;
}

#home .apresentation {
margin-top: -35%;
  
display: flex;
text-align: center;
align-items: center;
flex-direction: column;
}

#home .apresentation p{
color: rgba(191, 33, 191, 0.742);
font-size: 4rem;
font-family: "Dm Sans", sans-serif;
}

#home .apresentation h1{
  font-family: "Dm Sans", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  color: #ffffff;

  letter-spacing: 1rem;
  margin: 0.6rem 0;
}

#home .apresentation h1 span{
color:  rgba(191, 33, 191, 0.742);
}

#home .apresentation h3 {
color: #ffffff;
font-family: "Dm Sans", sans-serif;
font-size: 4rem;
letter-spacing: 0rem;
}

#home .apresentation a.button {
width: 23rem;
height: 6rem;

color: rgb(214, 209, 214);
text-decoration: none;
border-radius: 0.81rem;
border: 1px solid rgb(191, 33, 191);
transition: all 1s;
padding-top: 1.3rem;

font-family: "Dm Sans", sans-serif;
font-size: 2.2rem;
font-weight: 800;

margin-top: 7rem;
}

#home .apresentation .button:hover {
cursor: pointer;
transform: scale(0.95);
background: #ffffff;
border: none;
color: rgb(191, 33, 191);
}

#aboutMe {
  height: 100vh;
  background: rgba(15, 12, 12, 0.96);
}

 .title {
text-align: center;
padding-top: 10rem;

font-size: 3.4rem;
font-family: 'Dm Sans', sans-serif;
color: rgb(191, 33, 191);
}

#aboutMe .columns{
margin-top: 17rem;
display: flex;
align-items: center;
justify-content: space-evenly;
}

#aboutMe .columns .col-01{
width: 40%;
text-align: justify;
}

#aboutMe .columns .col-01 h4{
font-size: 3rem;
color: hsla(0, 0%, 100%, 0.568);
font-weight: 600;
letter-spacing: .2rem;
}

#aboutMe .columns .col-01 span{
 color:rgba(191, 33, 191, 0.752);
}

#aboutMe .columns .col-02 img {

border: 3px solid rgba(191, 33, 191, 0.831);
width: 39rem;
height: 39rem;
padding: 2.5rem;
border-radius: 100%;
transition: all 1s;
filter: saturate(0);
}

#aboutMe .col-02:hover img{
cursor: pointer;
transform: scale(1.1);
filter: saturate(0.8);
}

#projects {
min-height: 100vh;
background: hsla(0, 0%, 0%, 0.946);
}

#projects .cards{
  padding: 10rem;
  padding-bottom: 17rem;
  
  display: grid;
  gap: 3rem;
  width: 100%;
  
  grid-template-areas: "A B C"
  "D E F";
}

#projects .card {
  background: rgba(15, 12, 12, 0.96);
  border-radius: 1.4rem;

  width:fit-content;
  padding: 2rem;
  filter: brightness(0.7);

  transition: all .9s;
  margin-bottom: 4rem;
}

#projects .card:hover {
filter: brightness(0.99);
transform: scale(1.1);


box-shadow: 0px .2rem .4rem rgb(191, 33, 191);
border-left: 0.6rem solid;
border-bottom: 0.4rem solid;
border-color: rgb(191, 33, 191);
}

#projects .card img {
  width: 48 rem;
  height: 28rem;
  border-radius: 1rem;
}

#projects .card h3 {
  color: rgb(191, 33, 191);
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;

  margin-top: 1.3rem;
  margin-bottom: .7rem;
}

#projects .card p {
  width: 48rem;
  text-align: justify;
  color: #ffffff;
font-size: 2.2rem;
margin-bottom: 3rem;
}


#projects .cards .projectLinks {
  display: flex;
  justify-content: space-evenly;
}


#projects .cards .projectLinks a button{
  border-radius: 1rem;
  
  text-decoration: none;
  transition: all 0.5s;
  font-size: 1.8rem;
  font-weight: 600;
  height: 5rem;
}

#projects .cards .projectLinks a:nth-child(1) button{
  background-color: rgb(191, 33, 191);
  border: none;
  width: 14rem;

color: black;
}


#projects .cards .projectLinks a:nth-child(2) button{
background-color: hsla(0, 0%, 100%, 0);
border: .3rem solid rgb(191, 33, 191);
color: white;

width: 19rem;
}

#projects .cards .projectLinks a button:hover {
cursor: pointer;
transform: scale(0.97);
}

#knowledge {
min-height: 100vh;
background: rgba(15, 12, 12, 0.96);

}


#knowledge ul{
padding: 10rem;
padding-top: 10rem;
display: flex;
text-align: center;
justify-content: space-around;
}

#knowledge ul li {
  background-color: hsla(0, 0%, 0%, 0.473);
  list-style: none;
  min-height: fit-content;
  width: 34rem;
  padding: 2rem;
  border-radius: 2rem;

  border-left: 0.6rem solid;
  border-bottom: 0.4rem solid;

}

#knowledge ul li svg{
width: 17rem;
height: 17rem;
margin-bottom: 3rem;
}

#knowledge ul li svg path {
  fill: rgba(191, 33, 191, 0.802);
}

#knowledge ul li h3{
  color: white;
  font-size: 3rem;
  font-family: "Dm Sans", sans-serif;
  padding-bottom: 1.4rem;
  width: 22rem;
  margin: auto;
  border-bottom: 1px solid rgb(191, 33, 191);
}
#knowledge ul li .label{
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#knowledge ul li .label p {
  margin-top: 7rem;
  font-family: "Dm Sans", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: hsla(0, 0%, 100%, 0.729);
}

#contact {
  min-height: 100vh;
  background: hsla(0, 0%, 0%, 0.946);

text-align: center;
}

#contact a {
  color: rgba(255, 255, 255, 0);
}

#contact a:hover {
  cursor: grab;
}

#contact  a svg{
margin: 10rem 1.7rem 5rem;
width: 6.5rem;
height: 6.5rem;

transition: all .6s;
}

#contact  a svg:hover{
transform: scale(1.1);
cursor: pointer;
}

#contact  a svg path {
  fill: rgba(191, 33, 191, 0.75);
}

#contact  a:hover svg path{
  fill: rgb(191, 33, 191);
}

#contact form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1.4rem;
  margin: auto;
}


#contact form input {
width: 50rem;
height: 5rem;
padding: 1.5rem;

background: rgba(15, 12, 12, 0.96);
border: 1px solid rgba(15, 12, 12, 0.96);
border-radius: 1rem;
color: #ffffff;
font-size: 1.8rem;
font-family: 'Dm-sans', sans-serif;
letter-spacing: .2rem;
}

#contact form textarea {
height: 13rem;
padding: 1.5rem;

background: rgba(15, 12, 12, 0.96);
border: 1px solid rgba(15, 12, 12, 0.96);
border-radius: 1rem;
color: #ffffff;
font-size: 1.7rem;
letter-spacing: .2rem;
font-family: 'Dm-sans', sans-serif;
}

#contact form label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0.0.0.0);
  white-space: nowrap;
  border-width: 0;
}

#contact form button {
height: 4.7rem;
width: 22rem;
margin: 3rem auto;

background: rgb(191, 33, 191);
border: none;
border-radius: 1rem;
color: #ffffff;
font-size: 2rem;
font-weight: 600;
font-family: 'Dm Sans', sans-serif;

transition: all .6s;
}

#contact form button:hover{
filter: brightness(0.7);
cursor: pointer;
transform: scale(0.97);
}


footer {
  height: 5.4rem;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  background: rgb(10, 8, 8);
  border-top: .1rem solid rgba(0, 0, 0, 0.887);
} 

footer p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #ffffff;
}

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
 
  width: 8rem;
  height: 8rem;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}